.parallax {
  /* The image used */
  background-image: url("../assets/backgrounds/photo-1619252584172-a83a949b6efd.avif");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
